:root {
  --md-sys-typescale-display-medium-font: 'Roboto', sans-serif;
  --md-sys-typescale-headline-small-font: 'Roboto', sans-serif;
  --md-sys-typescale-body-medium-font: 'Roboto', sans-serif;
  // Adicione outros se necessário
}